<%- include("header") -%>

<h2>This is the about page</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore, deleniti maxime. Exercitationem numquam praesentium maxime laborum suscipit voluptate quas earum aut. Accusantium dicta fuga tempora suscipit nihil maxime nobis fugit.</p>

<%- include("footer") -%>