</body>
<footer>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa nam perferendis explicabo, 
        error eveniet nihil corporis ullam magni nostrum aliquid. Id sed molestiae recusandae? 
        Veritatis nisi tempore distinctio sint obcaecati?</p>
</footer>
</html>